.header {
  background-color: var(--azul-espacial); /* azul-600 */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  min-width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s ease;
}

.link:hover {
  color: #0ff;
}

.auth {
  border-left: 1px solid #555;
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #111;
    padding: 1rem;
    border-radius: 8px;
    width: 180px;
  }

  .nav.open {
    display: flex;
  }

  .link {
    margin: 0.5rem 0;
  }

  .auth {
    border: none;
    padding-left: 0;
  }
}
