.header {
  background-color: var(--azul-espacial); /* azul-600 */
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  max-width: 1200px;
}

.container-header {
  width: 360px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
 height: 50px;
 
}


.nav {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
