body {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



:root {
  --azul-espacial: #1e3a8a;
  --roxo-galactico: #8b5cf6;
  --branco-estelar: #ffffff;
  --cinza-nebuloso: #6b7280;
  --verde-cosmico: #10b981;
  --color-primary: #003366;
  --color-accent: #00c2ff;
}
  

